/*-----------   FONTS-GOOGLE ------------------*/
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Poppins:wght@200;300;400;500;600;700;800&family=Rubik+Moonrocks&display=swap');




/*-----------  VARIAVEIS ------------------*/
:root
{
    --cor1:#0b0b0f;
    --cor2:#333338;
    --cor3:#373737;
    --cor4:#9e99a7;
    --cor5:#ffb68c;
    --cor-font-1:#000000;
    --cor-font-2:#ffffff;
    --cor-nav:rgb(255, 255, 255);


/*--------------- FONTS ------------------*/

    --font-promo: 'Caveat', cursive;
    --font-body: 'Poppins', sans-serif;
    --font-logo: 'Rubik Moonrocks', cursive;

/*--------------- FONTS ------------------*/

    --regular: 400;
    --medium: 500;
    --semi-bold: 600;
    --bold: 700;
    --extra-bold:800;
/*--------------- MARGINS ------------------*/
    --m-1: 0.5rem;
    --m-2: 1rem;
    --m-3: 1.5rem;
    --m-4: 2rem;
    --m-5: 2.5rem;
    --m-6: 3rem;

/*--------------- Z-INDEX ------------------*/
    --z-fixed:100;
    --z-sobre:10;
}

/*--------------- BASE ------------------*/
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html
{
    scroll-behavior: smooth;
}
ul
{
    list-style: none;
}
a
{
    text-decoration: none;
}
body
{
    background:var(--cor-font-2);
    
    font-family: var(--font-body);
    overflow-x: hidden;
}
main
{
    height: 100%;
    height: auto;
    padding: var(--m-6);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
section
{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: var(--m-3) 0;
}
.hide
{
    display: none;
}
body::-webkit-scrollbar
{
    width: 5px;
    border:none;
    background: transparent;
}
body::-webkit-scrollbar-thumb
{
    background:var(--cor5);
    width: 5px;
    border-radius: 50px;
}

/*--------------- NAVBAR ------------------*/

.header
{
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: var(--z-fixed);
    border-bottom: 2px solid var(--cor1);
    background: var(--cor3);
    position: fixed;
}
.header a
{
    color: var(--cor-font-2);
    font-size: 20px;

}
.logo
{
    font-family: var(--font-logo);
    font-size: 30px;
    font-weight: var(--medium);
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.logo img
{
    width: 150px;
    height: 150px;
}
.nav
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 100%;
   
}
#btn-mobile
{
    display: none;
}
.nav ul
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 70%;
}
.nav ul li
{
    height: 92%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 var(--m-1);
    cursor: pointer;

    
    
}
.nav ul li:hover
{
    transform: scale(1.09, 1.09);
    border-bottom: 3px solid var(--cor-font-2);
    background-color: #ffffff2b;
}
.menu
{
    margin: 0 var(--m-1);
}
.icons
{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 var(--m-1);
    
}
.icons img
{

    max-height: 20px;
    max-width: 20px;
    margin: var(--m1);
    cursor: pointer;
}
.icons img:hover
{
    transform: translateY(-8px);
}

/*--------------- SECTION 1 ------------------*/

.bg-anuncio
{
    position: relative;
    max-width: 100%;
    max-height: 100%;
    border-radius: 15px;
}
.anuncio
{
  
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    transform: translateY(-50%) translateX(-50%);
    width: 100%;
}
.anuncio h1
{
    font-family: var(--font-promo);
    font-size: 30px;
}
.anuncio h2
{
    font-family: var(--font-body);
    font-weight:var(--extra-bold);
    font-size: 80px;
}
.botao-conferir
{
    width: auto;
    height: auto;
    padding: var(--m-2);
    background: var(--cor-font-2);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: var(--bold);
    font-size: 12px;
}
.botao-conferir img
{
    width: 20px;
    height: 20px;
    margin-left: var(--m-1);
}
.info-content
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: var(--m-2) 0 0 0;
}
.info
{
    border-left: 1px solid var(--cor-font-1);
    display: flex;
    width: 350px;
    align-items: center;
    padding: 0 var(--m-2) ;
}
.info img
{

    width: 100px;
    height: 100px;
}
.info-text 
{
    margin-left: var(--m-1);
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}
.info-text h3
{
    font-weight: var(--regular);
}

/*--------------- SECTION 2 ------------------*/

#slide-produtos
{
    height: auto;
}
#slider
{
    max-width:  100%;
    max-height: 500px;
    width: 1000px;
    height: 500px;
    position: relative;
    background: #9e99a7;
    border-radius: 15px;
    overflow: hidden;
}
#slider img
{
    opacity: 0;
    position: absolute;
    width:  100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 3000ms;
}
#slider img.selected
{
    opacity: 1;
}

/*--------------- SECTION 3 ------------------*/

#tabs
{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    
}
.tab-links
{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color:var(--cor3);
}
.tab-links button
{
    color: var(--cor-font-2);

    border: none;
    background:transparent;

    text-transform: uppercase;
    font-size: 20px;

    padding: 16px;

    outline: none;

    position: relative;
}
.tab-links button::after
{
    position: absolute;
    bottom: 0;
    left: 0;

    content: "";
    height: 3px;
    width: 0%;

    background: var(--cor5);
    transition: .4s;
}
.tab-links button:hover::after,
.tab-links button.active::after
{
    width: 100%;
}
.tab-content
{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;

}
#shirts, #pants, #shoes
{
    width: 100%;
    height: auto;
    
}
.aling::-webkit-scrollbar-thumb
{
    width: 10px;
    border: 1px solid black;
}
.aling
{
    display: flex;
    align-items: center;
    overflow-x: scroll;
    width: 100%;
    height: auto;
    padding: 0 20px;

  

}
.aling::-webkit-scrollbar
{
    height: 8px;
    border:none;
    background: transparent;
}
.aling::-webkit-scrollbar-thumb
{
    background:var(--cor-font-1);
    border-radius: 50px;
}
.titulo-produto
{
    padding: 10px 5px;
    background: var(--cor5);
    font-weight: var(--semi-bold);
    font-size: 20px;
    text-transform: uppercase;
}
.box-card   
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px ;
    height: 400px;
}
.card
{

    width: 230px;
    height: 230px;
    position: relative;
    background: linear-gradient(0deg, rgb(255, 255, 255) 24%, rgba(255,182,140,1) 74%);
    box-shadow: 5px 5px 15px 5px #00000027;
    margin: 30px 20px;
    display: flex;
    flex-direction: column;
    transition: 0.3s ease-in-out;
    border-radius: 4px;
    
}
.card:hover
{
    height: 300px;
    background:  rgba(255,182,140,1);

}
.card .imgBx
{
    position: relative;
    width: 200px;
    height: 230px;
    top: -40px;
    left: 15px;
    z-index: 1;

}
.imgBx img
{
    width: 100%;
    height: 100%;
    border-radius: 6px;
    overflow: hidden;
    border: 1px solid #37373733;
    
}
.card .conteudo
{
   
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
    
}
.card:hover .conteudo
{
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
}
h3
{
    font-family:var(--font-body);
}
.conteudo p
{
    font-family:var(--font-body);
    font-weight: var(--regular);
    font-size: 12px;
}

/*--------------- SECTION 4 ------------------*/
.sobre
{
    background-image: url(./img/background-mesa.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    max-height: 500px;
    height: 100vh;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-bottom: 3px solid black;
    border-top: 3px solid black;
    border-radius: 15px;
    overflow: hidden;

}
.bg-sobre
{
    position: relative;
    max-width: 100%;
    max-height: 100%;
    border-radius: 15px;
    overflow: hidden;
}
.card-sobre
{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    backdrop-filter: blur(10px);
    background: transparent;
}
h4
{
    width: 100%;
    text-align: center;
    font-size: 50px;
    font-family:'Poppins', Arial;
    color: #fff;
}
.sobre p
{
    padding: 10px 5rem 3rem 5rem;
    font-family:'Oswald','arial';
    font-size: 25px;
    color: #fff;
    text-align: center;
    z-index: 1;

}




/*--------------- FOOTER ------------------*/

.footer
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;    
    grid-template-rows: 5fr 1fr;
    color: #fff;
    background-color:#222529 ;
    padding: 40px;
    
}.endereco, .telefone, .email
{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
} 
.footer h3
{
    font-family: 'Poppins';
    font-size: 20px;
}
.footer span
{
    font-size: 13px;
    color: #a8a8a8;
}
.informacoes img
{
    width: 30px;
    height: 30px;
}
.conta
{
    display: flex;
    align-items: start;
    flex-direction: column;

}
.conta a 
{
    text-decoration: none;
    cursor: pointer;
}
.submit-email
{
    margin-top: 10px;
    display: flex;
}
.inputBox
{   
    position: relative;
    width: 250px;
}
.inputBox input
{
    width: 100%;
    padding: 10px;
    border: 1px solid #a8a8a8;
    border-radius: 5px;
    background: #222529;
    outline: none;
    color: #fff;
}
.inputBox span
{
    position:absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    color: #a8a8a8;
    text-transform: uppercase;
    font-family:'Courier New', Courier, monospace;
    transition: 0.5s;
}
.inputBox input:valid ~ span,
.inputBox input:focus ~ span
{
    color:  #d5d5d5; ;
    transform: translateX(10px) translateY(-6px);
    font-size: 0.65em;
    padding: 0 10px;
    background: #222529;
    border-left: 1px solid #a8a8a8;
    border-right: 1px solid #a8a8a8;
}
.submit-email button
{
    margin-left: 5px;
    width: 50px;
    border-radius: 5px;
    cursor: pointer;
    background: rgb(185, 184, 184);
}
.submit-email button:hover
{
    transform: scale(1.05);
    background: rgb(209, 209, 209);
}


/*
.tab-links button:hover::after,
            button.active::after
{
    width: 100%;
}
.tab-content div
{
    animation: up 1s;
}
@keyframes up 
{
    from {
        opacity: 0;
        transform:translateY(15px);
    }
}*/


@media (max-width:2000px)
{
    /*--------------- SECTION 1 ------------------*/
        .info
    {
        border-left: 1px solid var(--cor-font-1);
        width: 250px;
    }
    .info img
    {

        width: 50px;
        height: 50px;
    }
    .info-text h2
    {
        font-size: 15px;
    }
    .info-text h3
    {
        font-size: 12px;
    }
}

@media (min-width:1700px) and (max-width:2640px)
{
    /*--------------- NAVBAR ------------------*/
    .header
    {
        height: 150px;
    }
    .logo img
    {   
        width: 300px;
        height: 300px;
    }
    .header a
    {
        font-size: 30px;
    }
    .icons img
    {

        max-height: 40px;
        max-width: 40px;
    
    }
    /*--------------- SECTION 1 ------------------*/
    .anuncio h1
    {
        font-size: 50px;
    }
    .anuncio h2
    {
        font-size: 100px;
    }
    .botao-conferir
    {

        font-size: 20px;
    }
    /*--------------- SECTION 4 ------------------*/
    h4
    {

        font-size: 70px;
       
    }
    .sobre p
    {

        font-size: 40px;
      
    }

    
}
@media (max-width:1000px)
{
    /*--------------- NAVBAR ------------------*/
    .header a
    {
        font-size:25px;
    }
    .icons img
    {

        max-height: 25px;
        max-width: 25px;
    
    }
    /*--------------- SECTION 1 ------------------*/
    .info
    {
        border-left: 1px solid var(--cor-font-1);
        width: 150px;

    }
    .info img
    {

        width: 20px;
        height: 20px;
    }
    .info-text h2
    {
        font-size: 10px;
    }
    .info-text h3
    {
        font-size: 8px;
    }

    /*--------------- SECTION 2 ------------------*/
    #slider
    {
        height: 300px;
        max-height: 300px;
    }
    /*--------------- SECTION 3 ------------------*/
    .section
    {
    
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    padding: 2rem 0 2rem 0;
   
    }
    .nav-tabs
    {
        position: relative;
    }
    .nav-tabs label, .lista-m label, .lista-f label
    {
        width: 100px;
        height: 100%;
        text-align: center;
    }
    /*--------------- FOOTER ------------------*/
    .footer
    {
        
        display:flex ;
        flex-wrap: wrap;
        gap: var(--m-2);
    }
    #botom
    {
        padding-bottom: var(--m-2);
        border-bottom: 1px solid var(--cor5);
    }
    
   

}
@media (max-width:800px)
{
    /*--------------- SECTION 1 ------------------*/
    .anuncio h1
    {
        font-size: 20px;
    }
    .anuncio h2
    {
        font-size: 50px;
    }
    .botao-conferir
    {
        padding: var(--m-1);
        font-size: 10px;
    }
    /*--------------- SECTION 2 ------------------*/
    #slider
    {
        height: 200px;
        max-height: 200px;
    }
}
@media (max-width:700px)
{
    /*--------------- SECTION 1 ------------------*/
    .anuncio h1
    {
        font-size: 15px;
    }
    .anuncio h2
    {
        font-size: 40px;
    }
    .botao-conferir
    {

        font-size: 8px;
    }
    .info
    {
        border-left: 1px solid var(--cor-font-1);
        width: 100px;
        padding: 0 5px;

    }
    .info img
    {

        width: 20px;
        height: 20px;
    }
    .info-text h2
    {
        font-size: 6px;
    }
    .info-text h3
    {
        font-size: 5px;
    }
    
}
@media (max-width:600px)
{
    /*--------------- BASE ------------------*/
    main
    {
        padding:  100px var(--m-6) var(--m-6) var(--m-6);
    }
    section
    {
        padding: 10px;
    }

    /*--------------- NAVBAR ------------------*/

    .header
    {   
        position: fixed;
        
    }
    .nav, .logo
    {
        width: auto;
    }
    .nav ul
    {
        display: block;
        width: 100%;
        height: calc(100vh - 100px);
        margin: 0;
       
    }
    #menu
    {
        display: block;
        position: absolute;
        width: 100%;
        top:100px;
        right: 0px;
        background:#222529bb;
        height:0px;
        transition: .6s;
        z-index:1000;
        visibility: hidden;
        overflow-y: hidden;
    
    }
    .nav ul li
    {
        height:var(--m-6);
    }
    .nav ul li:hover
    {
        transform: scale(1.09, 1.09);
        border-bottom: none;
        border-left: 3px solid #fff;
        background-color: #706e6e98;
    }
    .menu li a
    {
        padding: 0 var(--m-2);
        color: var(--cor-font-2);
        font-size: 20px;
    }
    #btn-mobile
    {
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
        color: var(--cor-font-2);

    }
    .icons
    {
        display: none;
    }
    #nav.active #menu
    {
        visibility: visible;
        overflow-y: auto;
        height: calc(100vh - 70px);
        width: 100%;

    }
    #hamburger
    {
        display: block;
        width: 20px;
        border-top: 2px solid ;

    }
    #hamburger::after, #hamburger::before
    {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition:.2s;
        position: relative;
    }
    #nav.active #hamburger
    {
        border-top-color: transparent;
    }
    #nav.active #hamburger::before
    {
        transform: rotate(135deg);

    }
    #nav.active #hamburger::after
    {
        transform: rotate(-135deg);
        top: -7px;

    }
   
    /*--------------- SECTION 1 ------------------*/
    .anuncio h1
    {
        font-size: 15px;
    }
    .anuncio h2
    {
        font-size: 30px;
    }
    .botao-conferir
    {
        padding: 2px 5px;
        font-size: 8px;
    }
    .anuncio
    {
        top: 40%;
    }
    /*--------------- SECTION 4 ------------------*/
    h4
    {
    
        font-size: 20px;
           
    }
    .sobre p
    {
    
        font-size: 15px;
        padding: 10px 1rem 3rem 1rem;
          
    }
}
@media (max-width:500px)
{
    /*--------------- NAVBAR ------------------*/
    .nav-tabs label, .lista-m label, .lista-f label
    {
        width: 80px;
        height: 100%;
        font-size: 10px;
    }
    .lista-m label, .lista-f label
    {
        border-radius: 25px;
    }
    /*--------------- SECTION 3 ------------------*/
    .tab-links button
    {
        font-size: 20px;
    }
    /*--------------- SECTION 1 ------------------*/
    
    .info
    {
        border-left: 1px solid var(--cor-font-1);
        width: 80px;
        padding: 0 5px;

    }
    .info img
    {

        width: 15px;
        height: 15px;
    }
    .info-text h2
    {
        font-size: 5px;
    }
    .info-text h3
    {
        font-size: 4px;
    }

}
@media (max-width:400px)
{
    /*--------------- BASE ------------------*/
    main
    {
        padding:  100px var(--m-3) var(--m-3) var(--m-3);
    }
    

    /*--------------- SECTION 1 ------------------*/
    .anuncio h1
    {
        font-size: 10px;
    }
    .anuncio h2
    {
        font-size: 30px;
    }
    .botao-conferir
    {
        font-size: 6px;
    }
    .botao-conferir img
    {
        width: 15px;
        height: 15px;
    }
    /*--------------- FOOTER ------------------*/
    .inputBox
    {   
        width: 150px;
    }
}
@media (max-width:350px)
{
    /*--------------- BASE ------------------*/
    main
    {
        padding:  80px var(--m-2) var(--m-2) var(--m-2);
    }



    /*--------------- SECTION 1 ------------------*/
    .anuncio h1
    {
        font-size: 8px;
    }
    .anuncio h2
    {
        font-size: 20px;
    }
    .botao-conferir
    {
        padding: 5px;
        font-size: 5px;
    }
    .botao-conferir img
    {
        width: 10px;
        height: 10px;
    
    }
    /*--------------- SECTION 3 ------------------*/
    .tab-links button
    {
        font-size: 15px;
    }
}